# COGS 9 Section 01 Discussion 2: Python Basics continued + Introduction to Pandas

## What we will go over today
* Lists, Dictionaries, Sets
* Introduction to Pandas

# Part 1

### Lists

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
fruits[0]

'apple'

In [ ]:
fruits[-1]

'cherry'

In [ ]:
fruits[0] = "orange"
print(fruits)

['orange', 'banana', 'cherry']

In [ ]:
fruits.append("grape")
print(fruits)

['orange', 'banana', 'cherry', 'grape']

In [ ]:
fruits[-1]

'grape'

### Dictionaries

In [ ]:
fruit_prices = {'apple': 0.75, 'banana': 0.5, 'orange': 0.9}

In [ ]:
price = fruit_prices['apple']
print(price)

0.75

In [ ]:
price = fruit_prices.get('grape', 0)
print(price)

0

In [ ]:
fruit_prices['grape'] = 1.5

In [ ]:
del fruit_prices['grape']

In [ ]:
fruits = fruit_prices.keys()
prices = fruit_prices.values()
print(fruits)
print(prices)

dict_keys(['apple', 'banana', 'orange'])
dict_values([0.75, 0.5, 0.9])

In [ ]:
for fruit in fruit_prices:
    price = fruit_prices[fruit]
    print(fruit, price)

apple 0.75
banana 0.5
orange 0.9

### Sets

In [ ]:
my_set = set([1, 2, 3, 3, 4, 4, 4, 5])
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
my_set.remove(6)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# If you try to remove an element that doesn't exist, you'll get a KeyError. 
# To avoid this, you can use the discard method, which does not raise an error if the element is not found:
my_set.discard(6)

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [ ]:
print(3 in set1)
print(6 in set1)

True
False

# Part 2

## Installing and Using Pandas

In [ ]:
import pandas
pandas.__version__

'1.3.5'

In [ ]:
# Usually imported with the alias pd
import pandas as pd

## The Pandas Series Object

A Pandas ``Series`` is a one-dimensional array of indexed data.
It can be created from a list or array as follows:

In [ ]:
data = pd.Series([0.2, 0.4, 0.6, 0.8, 1.0])
data

0    0.2
1    0.4
2    0.6
3    0.8
4    1.0
dtype: float64

As we see in the output, the ``Series`` wraps both a sequence of values and a sequence of indices, which we can access with the ``values`` and ``index`` attributes.
The ``values`` are simply a familiar NumPy array:

In [ ]:
data.values

array([0.2, 0.4, 0.6, 0.8, 1. ])

In [ ]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
price_fruits_dict = {'Orange': 10,
                   'Mango': 23,
                   'Tomato': 8,
                   'Apple': 5,
                   'Cherry': 15}
price_fruits = pd.Series(price_fruits_dict)
price_fruits

Orange    10
Mango     23
Tomato     8
Apple      5
Cherry    15
dtype: int64

By default, a ``Series`` will be created where the index is drawn from the sorted keys.
From here, typical dictionary-style item access can be performed:

In [ ]:
price_fruits['Cherry']

15

## The Pandas DataFrame Object

The next fundamental structure in Pandas is the ``DataFrame``.
Like the ``Series`` object discussed in the previous section, the ``DataFrame`` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [ ]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [ ]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

## Diving deep into Pandas with a dataset

### Importing sample data provided in Google Colab
`read_csv()` is the function used to read the csv file as a pandas Dataframe

In [ ]:
csv_data = pd.read_csv("./sample_data/california_housing_test.csv")
csv_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

`head()` allows us to view the top 5 entries of the table

In [ ]:
csv_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

`tail()` allows us to view the bottom 5 entries of the table

In [ ]:
csv_data.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

`describe()` allows to view descriptive statistics, including those that summarizes the central tendency, dispersion and shape of a dataset’s distribution

In [ ]:
csv_data.describe(include = 'all')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

`columns` allows to view all the columns

In [ ]:
csv_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
csv_data['median_income']

0       6.6085
1       3.5990
2       5.7934
3       6.1359
4       2.9375
         ...
2995    1.1790
2996    3.3906
2997    2.2895
2998    3.2708
2999    8.5608
Name: median_income, Length: 3000, dtype: float64

`iloc` is used for indexing based on row numbers

In [ ]:
csv_data.iloc[3]

longitude               -118.3600
latitude                  33.8200
housing_median_age        28.0000
total_rooms               67.0000
total_bedrooms            15.0000
population                49.0000
households                11.0000
median_income              6.1359
median_house_value    330000.0000
Name: 3, dtype: float64

In [ ]:
csv_data['median_income'].iloc[3]

6.1359

In [ ]:
csv_data[['longitude', 'latitude']]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

In [ ]:
csv_data.iloc[5:10]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0